*{
    margin: 0;
    padding: 0;
}

/* Typography */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #f5f8ff;
}


/* header */

main {
  max-width: 1350px;
  margin: 0px auto;
}

.hero-section{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
} 

.navbar{
    display: flex;
    justify-content: space-between;
    }

    /* LOGO */

    h2{
        margin-top: 50px;
        margin-left: 305px;
        color: #4E47FF;
        font-weight: 900;
        font-size: 30px;
    }

    button{
        width: 110px;
        height: 45px;
        background-color: #4E47FF;
        font-weight: bold;
        font-size: 15px;
        margin-top: 50px;
        margin-right:305px;
        color: #ffffff;
        border-radius: 8px;
        border-style: none;
    }

    .hero-announcement{
        text-align: center;
        margin-top: 250px;
        font-weight: bold;
        font-size: 30px;
    }

    .hero-button{
        margin-top: 25px;
        margin-left: 270px;
        width: 170px;
        font-size: 15px;
    }

    /* main styles */

    .preview-site{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 30px;
    }

    .site-description{
        margin-top: 50px;
    }

    .description-title1{
        font-weight: bold;
        font-size: 42px;
        margin-bottom: 10px;
        color: #252432;
    }
    
    .description-title2{
        font-weight: 400;
        font-size: 24px;
        color: rgba(37, 36, 50, 0.5);
    }

    .launch-button{
        margin-top: 23px;
        width: 229px;
        height: 48px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 16px;
    }

    .confo-img{
        width: 403px;
        height: 328px;
        border-radius: 48px;
    }

    /* User Info */

    .user-info{
        margin-top: 100px;
        width: 1250px;
        height: 290px;
        background-color:rgba(78, 71, 255, 0.1);
        border-radius: 24px;
        padding: 40px 50px;
    }

    .user-stat{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 38px;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 50px;

    }

    .user-join{
        text-align: center;
        margin-bottom: 40px;
        font-size: 38px;
        font-weight: bold;
       
    }
    .user-update h1{
        color: #4E47FF;
        font-weight:bold;
        font-size: 90px;
        text-transform: uppercase;
    }

    .user-update p{
        font-weight: 400;
        font-size: 20px;
        color: rgba(37, 36, 50, 0.5);
    }

    /* user review styles */

    .card-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .user-review{
        margin-top: 100px;
    }

    .review-title{
        text-align: center;
        margin-bottom: 60px;
        font-weight: bold;
        color: #252432;
        font-size: 42px;
    }

    .user-card{
        width: 365px;
        height: 190px;
        padding: 24px;
        border-radius: 24px;
        background-color: #ffffff;
    }

    .reviewer-info{
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .user-avatar{
        border-radius: 50%;
    }

    .user-title{
        margin-top: 24px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .reviewer-name{
       color: #2D3748;
    }

    .reviewer-date{
         color:rgba(37, 36, 50, 0.5);
    }

    

    
    

    